.head1 {
    font-size: 40px;
    color: #009900;
    font-weight: bold;
}

.head2 {
    font-size: 17px;
    margin-left: 10px;
    margin-bottom: 15px;
}

body {
    margin: 0 auto;
    background-position: center;
    background-size: contain;
}

main{
    height: 100%;
}

.menu_lateral{
    width: 15%;
    height: inherit;
    float: left;
}

.menu {
    position: sticky;
    top: 0;
    background-color: #009900;
    padding: 10px 0px 10px 0px;
    color: white;
    margin: 0 auto;
    overflow: hidden;
}

.menu a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.menu-log {
    right: auto;
    float: right;
}

footer {
    width: 100%;
    bottom: 0px;
    background-color: #000;
    color: #fff;
    position: absolute;
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.body_sec {
    margin-left: 0;
}
