body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
  }
  
.show{
  display: block !important
}

.box{
  display: none;
}

  /* header inicio*/
  header {
    background-color: #03264c;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header img {
    width: 250px; 
    height: auto;
    margin-left: 5%;
  }
  
  #user-info {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    height: 50px;
    width: 350px;
    position: relative;
    top: -10px;
  }
  
  
  #user-info img {
    border-radius: 50%;
    margin-left: 5px;
    width: 40px; 
    height: 40px; 
    position: absolute;
    top: 5px;
  }

  #nome-user{
    color: black;
    position: absolute;
    top: -8px;
    left: 20%;
  }

  #email-user{
    color: black;
    position: absolute;
    top: 12px;
    left: 20%;
   
  }
  
 
  
  #filtro-container {
    color: white;
    top: 64px;
    right: 10px;
    position: absolute;
}
  
  
  #filtro {
    margin-top: 10px;
    padding: 5px;
  }

    /* header fim*/



    /* menu inicio*/
  .container {
    display: flex;
    height: 100%;
  }
  
  .left-menu {
    background-color: #e4e4e4;
    width: 350px; 
    height: 100vh; 
    padding: 10px;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    border-right: 1px solid #ccc; 
}

.left-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.left-menu li {
    margin-bottom: 15px; 
    width: 100%; 
    background-color: white;
}

.left-menu a {
    text-decoration: none;
    color: #333; 
    font-weight: bold;
    font-size: 18px;
    border: 1px solid #ccc; 
    padding: 10px;
    display: block;

}

.left-menu a:hover {
    background-color: rgb(0, 0, 0); 
    color: white;
    transition: 1s;

}
.content {
    flex: 1;
  }

.ativo{
    background-color: black;
    color: white;

}
 

/* menu fim*/


/* main inicio*/

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow-y: auto;
    max-height: 80vh; 
}
.profile-block {
    width: 300px;
    height: 250px;
    border: 2px solid #333;
    text-align: center;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 15px;
    
}
  
  .profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 10px;
  }
  
  .info {
    margin-top: -15px;
    text-align: left;
    margin-left: 25px;
  } 


/* main fim*/


